@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

header{
    margin-top: 0px;
    overflow: hidden;
    position: relative;    
}
.img-wrapper{

    width: 100%;
    height: 92vh;
    overflow: hidden;
}
.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 10s;
}
@keyframes zoom{
    0%{
        transform:scale(1,2);
    }
    100%{
        transform: scale(1);
    }
}
.sodebar{
    padding: 0px;
    margin: 0px;
    right: 0px;
    position: fixed;
    z-index: 1;
}
.sodebar nav ul{
    margin-right: 100px;  
     
}
.sodebar nav ul li{
    display: inline-block;
    font-size: 18px;
    margin-top: 15px;   
}
.sodebar nav ul li a{
    text-transform: capitalize;
    padding: 20px;
    color: black;
    text-shadow: 2px;   
}
.sodebar nav ul li a:hover{
    background-color: lightslategray;
    
}
.grandbox{
    width: 100;
    height: 450px;
    background-color: rgba(128, 128, 128, 0.164);
    padding: 0px;
    margin-top: 50px;
    position: relative;
    overflow: hidden;
    
    
}
.boxes1{
    width: 200px;
    height: 350px;
    background-color: burlywood;
    padding: 25px;
    margin-left: 40px;
    margin-top: 20px;
    opacity:0.9;
    cursor: zoom-in;
    position: absolute;  
}
.boxes1 :hover{
    transform: scale(2)692  6 =-.*
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    transition: 1s;
    
}

.nome-produto{
    text-align: center;
    font-size: 19px;
    margin: 5px;
}
.preco-antigo{
    text-align: center;
    text-decoration: line-through;
    
}
.preco-novo{
    text-align: center;
    font-size: 25px;
    padding: 0px;
}
.botao{
   border: 5px;
   left: 50px;
   padding: 10px;
   font-size: 17px;
   cursor: pointer; 
}
.boxes2{
    width: 200px;
    height: 350px;
    background-color: burlywood;
    padding: 25px;

    left: 345px;
    top: 20px;
    position: absolute;
    opacity:0.9;
    cursor: zoom-in;
    position: absolute;
}
.boxes2 :hover{
    transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    transition: 1s;
    
}
.boxes3{
    width: 200px;
    height: 350px;
    background-color: burlywood;
    padding: 25px;
    left: 640px;
    top: 20px;
    position: absolute;
    opacity:0.9;
    cursor: zoom-in;
    position: absolute;  
}
.boxes3 :hover{
    transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    transition: 1s;
    
}
.boxes4{
    width: 200px;
    height: 350px;
    background-color: burlywood;
    padding: 25px;
    right: 335px;
    top: 20px;
    position: absolute;
    opacity:0.9;
    cursor: zoom-in;
    position: absolute;  
}
.boxes4 :hover{
    transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    transition: 1s;
    
}
.boxes5{
    width: 200px;
    height: 350px;
    background-color: burlywood;
    padding: 25px;
    right: 40px;
    top: 20px;
    position: absolute;
    opacity:0.9;
    cursor: zoom-in;
    position: absolute;  
}
.boxes5 :hover{
    transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    transition: 1s;
}
.grandbox2{
    width: 100;
    height: 450px;
    background-color: rgba(128, 128, 128, 0.164);
    padding: 0px;
    margin-top: 0px;
    position: relative;
    overflow: hidden;